<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064590405120-rb2qjah2918uhk98srbgl2fk3n8f7cu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064590405120-rb2qjah2918uhk98srbgl2fk3n8f7cu2</string>
	<key>API_KEY</key>
	<string>AIzaSyAqDigFWWaA4tet5dWLL6wgHMJQEsA9WHI</string>
	<key>GCM_SENDER_ID</key>
	<string>1064590405120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>food-stock-management-app</string>
	<key>STORAGE_BUCKET</key>
	<string>food-stock-management-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064590405120:ios:42df77f9f9278bb948f2e5</string>
</dict>
</plist>